@using Microsoft.AspNet.Identity
@model RecipeShare.Models.ProfileViewModel
@{
	var userId = Convert.ToInt32(User.Identity.GetUserId());			  
}

<head>
	<meta name="viewport" content="width=device-width"/>
	<title>View</title>
</head>
@Scripts.Render("~/KOScripts/Profile.js")
@Scripts.Render("~/KOScripts/Recipe.js")
@*<script src="~/Controllers/User.js"></script>*@
<body>
	<h1>Profile for <span data-bind="text:fullName"></span></h1>
	<a class="btn btn-green "href='@Url.Action("AddRecipe", "Recipe")'>Add Recipe</a>
	<a class="btn btn-green " href='@Url.Action("AddEditGroups", "Group")'>Manage Groups</a>
	<h1>Recipes</h1>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th>Serves</th>
			<th>Cook Time</th>
			<th>Prep Time</th>
			<th></th>
		</tr>
		<tbody>
		@foreach (var recipe in Model.Recipes)
		{
			<tr>
				<td>@Html.Encode(recipe.Name)</td>
				<td>@Html.Encode(recipe.RecipeCategory)</td>
				<td>@Html.Encode(recipe.Serves)</td>
				<td>@Html.Encode(recipe.CookTimeMinutes)</td>
				<td>@Html.Encode(recipe.PrepTimeMinutes)</td>
				<td>
					@if (recipe.CreatedByUser.Id == userId)
					{
						<a href="#" class="fa fa-pencil fa-lg"></a>
					}
					<a href="#" class="fa fa-eye fa-lg"></a>
				</td>
			</tr>

		}
		</tbody>
	</table>
	<h1>Groups</h1>
	<table class="table">
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
		<tbody>
		@foreach (var group in Model.Groups)
		{
			<tr>
				<td>@group.Name</td>
				<td>
					<a href="#" class="fa fa-pencil fa-lg"></a>
					<a href="#" class="fa fa-eye fa-lg"></a>
				</td>
			</tr>

		}
		</tbody>
	</table>
	@*<table class="table">
							<tr>
								<th>Name</th>
								<th></th>
							</tr>
							<tbody data-bind="foreach: groups">
								<tr>
									<td data-bind="text:Name"></td>
									<td>
										<a href="#" class="fa fa-eye fa-lg"></a>
									</td>
								</tr>
							</tbody>
						</table>*@
	<table id="example">
		<thead>
			<tr>
				<th>Name</th>
				<th>Prep Time</th>
				<th>Cook Time</th>
				<th>Serves</th>
				<th></th>
			</tr>
		</thead>
	</table>

</body>

@section Scripts{
	<script type="text/javascript">
		$(function() {
			$.ajax({
				type: "POST",
				url: '/Profile/GetRecipesForUser',
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (data) {
					debugger;
					$('#example').dataTable({
						
						"data": data,
						"columns": [
						{"data" : "Name" },
						//{ "data": "RecipeCategory" },
						{ "data": "PrepTimeMinutes" },
						{ "data": "CookTimeMinutes" },
						{ "data": "Serves" }
						]

					});
				},

				error: function (err) {
					//alert(err.status + " - " + err.statusText);
				}
			});
		})
	</script>
}


